/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

header {
  background-color: #58386d;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;
}

.logomalc {
  width: 60%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.descetimg {
  display: flex;
}

.photofam {
  width: 50%;
  height: 40%;
}

.descserie {
  width: 40%;
  margin-left: 30px;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 255, 0.2);
  height: 34%;
  padding: 10px;
}

.description {
  display: flex;
}

/* menu */

html,
body {
  margin: 0;
  padding: 0;
}

.menu {
  background-color: #f1e0ac;
  width: 850px;
  height: 600px;
  margin-right: 20px;
  padding-bottom: 25px;
}

.menu h1 {
  text-align: center;
  padding: 20px;
}

label {
  padding: 10px;
  margin-left: 20px;
}

input {
  border: 2px solid black;
}

.liste {
  margin-top: 50px;
}

.liste li {
  padding: 40px;
}

.liste img {
  width: 10%;
}

a {
  color: black;
}
.bloc a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

.arrow {
  width: 20%;
  padding-left: 5px;
}

.bardroite {
  background-color: #f1e0ac;
  width: 750px;
  height: 600px;
}

.bloc h1,
h2 {
  padding: 10px;
  text-align: center;
}

.bloc {
  border: 1px solid black;
  margin-top: 3px;
}

/* Chat */

form,
p,
span {
  margin: 0;
  padding: 0;
}

#menu input {
  font: 12px arial;
}

#menu a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper,
#loginform {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #ebf4fb;
  width: 304px;
  border: 1px solid #acd8f0;
}

#loginform {
  padding-top: 18px;
}

#loginform p {
  margin: 5px;
}

#chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: #fff;
  height: 270px;
  width: 430px;
  border: 1px solid #acd8f0;
  overflow: auto;
}

#usermsg {
  width: 395px;
  border: 1px solid #acd8f0;
}

#submit {
  width: 60px;
}

.error {
  color: #ff0000;
}

#menu {
  padding: 12.5px 25px 12.5px 25px;
}

.welcome {
  float: left;
}

.logout {
  float: right;
}

.msgln {
  margin: 0 0 2px 0;
}
